*{
    margin: 0;
    padding: 0;
}
#contenidoCabecera{
    width: 100%;
    background-color: #67999A;
    display: flex;
}
#contenidoCuerpo{
    display: flex;
    width: 100%;
    background-color: #D3EE9F;
    padding-top: 50px;
}
footer{
    width: 100%;
    background-color: #7B9E35;
    display: flex;
    padding: 30px;
}
#cabeceraImagenNombre{
    flex: 30%;
}
#cabeceraMenu{
    flex: 70%;
}
#imagenRedondo{
    width: 150px;
    height: 150px;
    background-color: white;
    border-radius: 75px;
    position: relative;
    z-index: 1000;
    margin-bottom: 20px;
    left: 1%;
    background-image: url("../img/Recurso\ 8.png");
    background-size: contain;
}
#nombreRectangulo{
    background-color: #013334;
    width: 150px;
    padding: 20px;
    color: #FFFFFF;
    text-transform: uppercase;
    font-weight: bold;
    position: absolute;
    top: 14%;
}
ul li{
    display: inline;
    padding:0 10px;
    border-right: solid 2px black;
}
ul li a{
    Color: #550101;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
}
ul li a:hover{
    color: white;
    font-size: 20px;
    text-decoration: underline dashed 2px purple;
    background-color: #D6F2A4;
}
ul li:last-child{
    border-right: none;
}
#cuerpoImagen{
    flex: 40%;
}
#cuerpoDatos{
    flex: 60%;
}

#logoInicio{
    background-image: url("/img/Recurso\ 7.png");
    padding: 2px 0 0 20px;
    background-size: 18px;
    background-repeat: no-repeat;
}
#bordeImagen{
    background-color: #D46B68;
    padding: 20px;
    text-align: center;
    width: 65%;
    border-radius: 20px;
}
img{
    border-radius: 20px;
}
h1{
    text-align: center;
    font-weight: bold;
    padding-bottom: 20px;
    text-transform: uppercase;
}
#detalleDatos{
    width: 70%;
    padding: 20px;
}
#botones{
    display: flex;
    margin-top: 20px;
}
#botonFavorito{
    flex: 50%;
}
#botonUbicacion{
    flex: 50%;
}
#marcoFavorito{
    background-image: url(../img/Recurso\ 13.png);
}
.disenoBoton:hover{
    opacity: 80%;
    cursor: pointer;
}
#marcoUbicacion{
    background-image: url(../img/Recurso\ 2.png);
}
#marcoUbicacion:hover{
    opacity: 80%;
    cursor: pointer;
}
.disenoBoton{
    background-color: #CCCCCC;
    width: 250px;
    background-repeat: no-repeat;
    background-size: 28px;
    padding: 25px 0px 25px 60px;
    background-position: left 30px center;
    border-radius: 15px;
}
#marcoMenuFooter{
    flex: 15%;
}
#marcoDetalleFooter{
    flex: 35%;
}
#marcoRedesFooter{
    flex: 45%;
}
.footerRedes{
    display: inline;
}
li img{
    width: 28px;
}
.footerRedes li{
    border: none;
}